Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.kotlin/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
scripts/financehub-importer/resources/financehub_import.xlsx
scripts/financehub-importer/resources/.~lock.financehub_import.xlsx#